#animate {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: block;
}

#time {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
    float: right;
}
/*.animate-item-3 .animated {
    -webkit-animation-duration: 5s !important;
    animation-duration: 5s !important; // 动画执行时间
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animate-item-2 .animated {
    -webkit-animation-duration: 5s !important;
    animation-duration: 5s !important; // 动画执行时间
    animation-delay: 2s !important;
    -webkit-animation-delay: 2s !important;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animate-item-1 .animated {
    -webkit-animation-duration: 5s !important;
    animation-duration: 5s !important; // 动画执行时间
    animation-delay: 2s !important;
    -webkit-animation-delay: 4s !important;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animate-item-1 {
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: #e35134;
    float: left;
}
.animate-item-2 {
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-top:30px;
    color: #319888;
    float: left;
}

.animate-item-3 {
    width: 100%;
    font-size: 36px;
    text-align: center;
    color: #2b2b2b;
    float: left;
}
.animate-item-3 div {
    border-bottom: 5px solid #eb512d;
    width: 44%;
    margin-left: 28%;
}
.animate-item {
    width: 100%;
    margin-top: 30%;
    float: left;
}*/
#content {
    display: none;
}

#skip {
    width: 40%;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    position: absolute;
    bottom: 60px;
    margin-left: 30%;
    margin-right: auto;
    font-size: 16px;
}
#music-item {
    font-size: 20px !important;
    line-height: 60px !important;
}
#app footer {
    display: none;
}
.welcome img {
    width: 80%;
    height: auto;
    margin-top: -76px;
    margin-left: 10%;
}