@charset "UTF-8";

.bui-page main {
	background: #ebebeb;
}
.bui-list > .bui-btn-title {
	background: #ebebeb;
	min-height: .2rem;
	height: .33rem;
	line-height: .33rem;
	padding-top: 0;
	padding-bottom: 0;
}
header.bui-bar {
	background: #393a3e;
}
header.bui-bar .bui-bar-main {
	color: #fff;
}

.list-right	{
	text-align: right;
}
.list-right	i {
	color: #ccc;
}
.face-group {
	width: .72rem;
	height: .72rem;
	background: #d6ddd6;
	margin-right: .2rem;
	position: relative;
}
.face-group .bui-badges {
	position: absolute;
	width:.16rem;
	height:.16rem;
	-webkit-border-radius: .08rem;
	border-radius: .08rem;
	right: -.18rem;
	top: -.06rem;

}
.face-group .bui-box-center {
	margin: 0;
	line-height: .24rem;
}
.face-group .bui-box-center img {
	max-width: 90%;
	height: .24rem;
	line-height: .24rem;
}
.face-group > img {
	max-width: 100%;
}

.list-icon .icon{
	background: #f99d3a;
	text-align: center;
	color: #fff;
	font-size: .36rem;
}
.list-icon li:nth-child(1) .icon{
	background: #f99d3a;
}
.list-icon li:nth-child(2) .icon{
	background: #45c018;
}
.list-icon li:nth-child(3) .icon{
	background: #2682d5;
}
.list-icon li:nth-child(4) .icon{
	background: #2682d5;
}

.list-group .bui-list{
	margin-bottom: .3rem;
}

.catename {
	margin-right: .2rem;
}

.friends .bui-btn {
	padding-top: .2rem;
	padding-bottom: .2rem;
	font-size:.24rem;
}
.friends .icon .bui-badges {
	min-width:8px;
	height:8px;
	line-height:8px;
	border-radius:4px;
	top :-4px;
}
.friends .span1 .bui-badges {
	min-width:.32rem;
	height:.3rem;
	line-height:.3rem;
	border-radius:.15rem;
}
.friends .icon {
	color: #0caffe;
	text-align: center;
	font-size: .36rem;
	width:.36rem;
	height:.36rem;
	line-height:.36rem;
}

.mine {
	padding-top: .3rem;
}
.mine .icon {
	font-size: .36rem;
}

footer .bui-nav .bui-btn {
	padding-top: .1rem;
}
footer .bui-nav .bui-btn i {
	font-size: .4rem;
	margin-bottom :.05rem;
}
footer .bui-badges {
	min-width:.28rem;
	height:.28rem;
	line-height:.28rem;
	border-radius: .15rem;
}
.friends .icon-friend {
	color:#55ee55;
}
.friends .icon-fav2 {
	color:#f4635e;
}
.friends .icon-face2 {
	color:#fbcc02;
}
.home-page {
	height: 100%;
	overflow-y:auto;
}

.tab-home,
.bui-swipe {
	height: 100%;
}
.swipedown .bui-nav {
    -webkit-box-align: middle;
    box-align: middle;
    height: 100%;
}
.swipedown .bui-nav .bui-btn{
	background: none;
	border:0;
}
.swipedown .bui-nav .bui-btn .icon-app{
	width: .72rem;
	height: .72rem;
	overflow: hidden;
	border-radius: 50%;
	margin-bottom: .2rem;
}